node_modules
vendor
.git
.gitignore
.env
.env.example
.env.local
.DS_Store
Thumbs.db
.idea
.vscode
*.log
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache
.pytest_cache
.coverage
dist
build
.next
.nuxt
.cache
npm-debug.log
yarn-error.log
pnpm-debug.log
.bun
.turbo
.npm
.eslintcache
out
.terraform
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.jks
*.p12
*.key
*.keystore
*.crt
*.pem
.env.*.local
.env.*.swp
.env.*.swo
